.App {
  text-align: center;
  display: flex;
  position: absolute;
  color: white;
  background-color: #282c34;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.sidebar {
  width: 240px;
  padding: 10px;
  background-color: #202123;
  height: 100%;
  overflow-y: auto;
}

.side-menu-button {
  padding: 12px;
  border: 1px solid white;
  border-radius: 5px;
  text-align: left;
  transition: ease 0.25s all;
}

.side-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.side-menu-button span {
  padding-left: 6px;
  padding-right: 12px;
}

.chatbox {
  flex: 1;
  background-color: #343541;
  position: relative;
}

.chat-input-holder {
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-input-text-area {
  background-color: #40414f;
  width: 100%;
  padding: 12px;
  color: white;
  font-size: 1.25em;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
}

.chat-input-text-area:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.25);
}

.swipe-button {
  border-radius: 8px;
  /* border: olive 1px solid; */
  outline: rgb(99, 69, 13) 1px solid;
  background-color: rgba(0, 0, 0, 0.25);
  height: 38px;
  width: 38px;
  position: absolute;
  right: 24px;
  bottom: 84px;
  padding: 2px;
  font-size: 1.5em;
  text-align: center;
  transition: ease 0.25s all;
}
.swipe-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  outline: orange 1px solid;
  cursor: pointer;
}

.swipe-button:active {
  background-color: rgba(255, 255, 255, 0.5);
}

.chat-log {
  text-align: left;
  scroll-behavior: auto;
  overflow-y: auto;
  padding-bottom: 100px;
  height: 100%;
}

.chat-message.chatgpt {
  background-color: #444654;
  /* rgba(255, 255, 255, 0.1); */
}

.chat-message-center {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
}

.avatar {
  background-color: white;
  border-radius: 50%;
  min-width: 40px;
  width: 40px;
  height: 40px;
  font-size: 1.5em;
  text-align: center;
  padding-top: 4px;
}

.avatar.chatgpt {
  background-color: #0da37f;
}

.message {
  padding-left: 40px;
  padding-right: 40px;
}

.loading {
  display: inline-block;
  /* font-family: monospace;
  font-size: 30px; */
  clip-path: inset(0 1.5ch 0 0);
  animation: l 1s steps(4) infinite;
  padding-left: 2px;
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

.sidebar label,
.sidebar input {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 100%;
}
